section#players-container{
    height: calc(100vh - 60vh);
    width: 100%;
    background: #070707;
    position: fixed;
    top:0;
    z-index: 4;
}

section#players-container h2{
    font-size: 12px;
    font-weight: 500;
    font-family: 'Open Sans';
    color: #FFF;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 3px;
}

section#players-container .player-container{
    width: 42%;
    float: left;
    height: 100%;
    position: relative;
}

section#players-container .crossfader{
    width: 16%;
    float: left;
    height: 100%;
    position: relative;
}

iframe{
    width: 95% !important;
    height: 85% !important;
    margin: auto !important;
    display: block !important;
}

section#search-and-related{
    width: 100%;
    margin-top: calc(100vh - 60vh);
    height: calc(100vh - 40vh);
    background: #5342b3;
    background: -moz-linear-gradient(top, #5342b3 0%, #6c57b2 100%);
    background: -webkit-linear-gradient(top, #5342b3 0%,#6c57b2 100%);
    background: linear-gradient(to bottom, #5342b3 0%,#6c57b2 100%);
    display: table;
}

section#search-and-related .list-videos-block{
    width: 33.33%;
    display: table-cell;
    position: relative;
    float: left;
}

section#search-and-related .list-search-block{
    background: #ffffff;
    -webkit-box-shadow: 3px 0px 92px -13px rgba(0,0,0,0.7);
    -moz-box-shadow: 3px 0px 92px -13px rgba(0,0,0,0.7);
    box-shadow: 3px 0px 92px -13px rgba(0,0,0,0.7);
    z-index: 2;
}

section#search-and-related .list-search-block h4{
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
    font-size: 16px;
}

section#search-and-related .list-related-block{
}

section#search-and-related .list-related-block .title-container{
    width: 33.33%;
    margin: auto;
    border-bottom: 1px solid #ffffff;
    height: 50px;
    position: fixed;
    background: #5342b3;
    z-index: 1;

}

section#search-and-related .list-related-block h2{
    font-size: 24px;
    color: #ffffff;
    padding-left: 10px;
    font-family: 'Open Sans';
    margin-top: 10px;
}

section#search-and-related .list-video{
    width: 95%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 20px;
}


section#search-and-related ul li{
    width: 50%;
    float: left;
    height: 200px;
}

section#search-and-related  ul li .video-container{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
}

section#search-and-related ul li img{
    width: 100%;
    height: 120px;

}

section#search-and-related ul li h3{
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 5px;
}


section#search-and-related .list-search-block ul li h3{
    color: #000;
}

section#search-and-related .list-search-block .input-search-container{
    width: 33.33%;
    border-bottom: 1px solid #b3b3b3;
    height: 50px;
    position: fixed;
    background: #FFF;
    z-index: 1;
}

section#search-and-related .list-search-block input{
    -webkit-appearance:none;
    outline: none;
    border: none;
    width: 90%;
    height: 100%;
    background: url('../images/searchh.png') no-repeat scroll 10px 10px;
    background-size: 25px;
    padding-left: 50px;
    font-size: 24px;
    float: left;
}

section#search-and-related .list-search-block .input-search-container button{
    width: 10%;
    float: left;
    height: 100%;
    -webkit-appearance:none;
    outline: none;
    border: none;
    border-left: 1px solid #efefef;
    background: transparent;
}

section#search-and-related .list-search-block input::-webkit-input-placeholder{
    color: #000000;
    font-size: 24px;
}

::-moz-placeholder {
    color: pink;
}
:-ms-input-placeholder {
    color: pink;
}
:-moz-placeholder {
    color: pink;
}



.arrow-block{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #5342b3 transparent;
    position: absolute;
    bottom: -1;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: rotate(360deg);


}


.filter{
    position: absolute;
    height: 120px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.filter .button-filter{
    width: 100%;
    cursor: pointer;
    height: 50%;
    position: relative;
}

.filter #addTo-1{
    border-bottom: 1px solid #fff;
}

.filter .button-filter p{
    color: #FFFFFF;
    position: absolute;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -khtml-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    font-family: 'Open Sans';
}

.filter .active{
    background-color: rgba(0, 0, 0, 0.5);
}


.queue-button{
    width: 100%;
    height:25px;
    border: 1px solid #5342b3;
    position: relative;
    cursor: pointer;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.queue-button p{
    position: absolute;
    font-size: 11px;
    color: #5342b3;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -khtml-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
}


.list-related-block .queue-button{
    width: 100%;
    height:25px;
    border: 1px solid #ffffff;
    position: relative;
    cursor: pointer;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.list-related-block  .queue-button p{
    position: absolute;
    font-size: 11px;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -khtml-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
}

.button-page{
    width: 100px;
    height: 30px;
    -webkit-appearance:none;
    outline: none;
    border: 2px solid #5342b3;
    color: #5342b3;
    background: transparent;
}

#pageTokenNext{
    float: right;
}

.btn-group{
    margin-top: 15px;
    width: 100%;
}


.clear{
    clear: both;
}





input[type='range'] {
    box-sizing: border-box;
    overflow: visible;
    position: absolute;
    -webkit-appearance: none;
    top: 50%;
    left: 50%;
    height: 7em;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #afafaf 2px, rgba(0, 0, 0, 0) 2px), linear-gradient(90deg, #afafaf 2px, rgba(0, 0, 0, 0) 2px), linear-gradient(90deg, #ffffff 2px, rgba(0, 0, 0, 0) 2px), linear-gradient(90deg, #ffffff 2px, rgba(0, 0, 0, 0) 2px);
    background-clip: padding-box;
    background-position: calc(.75em - 1px) 0, calc(.75em - 1px) calc(100% - 1px), calc(.75em - 1px) 1px, calc(.75em - 1px) 100%;
    background-repeat: repeat-x;
    background-size: 1em 1em;
    /* Firefox & Chrome/ Opera need this,
       otherwise font-size is smaller */
    font-size: 1em;
    cursor: pointer;
    /* wish I could style this asshole */
}
input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    border: none;
    /* because IE */
    width: 12.5em;
    height: .75em;
    box-shadow: 0 1px #fff,  inset 0 .02em .125em #7e7e7e,  inset 0 .1em .25em #7e7e7e,  inset 0 0 0 .25em #d6d6d6;
    background: #575757;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -.875em;
    /* weird shit, Chrome */
    border: none;
    width: 2.25em;
    height: 2.25em;
    border-radius: .25em;
    background: linear-gradient(90deg, rgba(201, 201, 201, 0) 15%, #c9c9c9 37.5%, #f4f4f4 37.5%, #f4f4f4 62.5%, #c9c9c9 62.5%, rgba(201, 201, 201, 0) 85%) #fefefe;
}
input[type='range']::-moz-range-track {
    z-index: -1;
    /* fix Firefox WTF */
    border: none;
    /* because IE */
    width: 12.5em;
    height: .75em;
    background: #575757;
}
input[type='range']::-moz-range-thumb {
    border: none;
    width: 2.25em;
    height: 2.25em;
    border-radius: .25em;
    background: linear-gradient(90deg, rgba(201, 201, 201, 0) 15%, #c9c9c9 37.5%, #f4f4f4 37.5%, #f4f4f4 62.5%, #c9c9c9 62.5%, rgba(201, 201, 201, 0) 85%) #fefefe;
    /* Firefox-only, it won't work in IE
       and it's messed up in Chrome */
    cursor: ew-resize;
}
input[type='range']::-ms-track {
    border: none;
    /* because IE */
    width: 12.5em;
    height: .75em;
    background: #575757;
    color: transparent;
}
input[type='range']::-ms-thumb {
    border: none;
    width: 2.25em;
    height: 2.25em;
    border-radius: .25em;
    background: linear-gradient(90deg, rgba(201, 201, 201, 0) 15%, #c9c9c9 37.5%, #f4f4f4 37.5%, #f4f4f4 62.5%, #c9c9c9 62.5%, rgba(201, 201, 201, 0) 85%) #fefefe;
}
input[type='range']::-ms-fill-lower, input[type='range']::-ms-fill-upper {
    background: transparent;
}
input[type='range']::-ms-tooltip {
    display: none;
}
input[type='range']:focus {
    outline: none;
}


@media screen and (max-width: 1200px) {
    section#search-and-related ul li {
        width: 100%;
        height: 250px;
    }

    section#search-and-related ul li img{
        width: 100%;
        height: 170px;
    }

    section#search-and-related .list-search-block .input-search-container button{
        font-size: 12px;
    }

    .filter{
        height: 170px;
    }
}

